
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --cor-principal-texto:#000000;
    --cor-secundaria-texto:#FFFFFF;
    --cor-fundo:#FFFFFF;
    --cor-fundo2:#39A9A4;
}

body{
    width: auto;
    background-color: #000000;
    margin: 0;
}





/*TEXTOS UTILIZADOS

    'Quicksand' fonte para conteudo normal


    'Cormorant SC' fonte para titulo




*/








/*começo navbar*/
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: -19px;
    padding-top: 30px;
    height: 0;
    width: 0;
    
}




.navbar__links {
    font-family: 'Quicksand';
    font-size: 26px;
    color: #FFFFFF;

   
    padding-left: 100px;
    padding-right: 70px;
    

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-decoration: none;
    height: 100%;
}



  .navbar__menu_2{
    align-items: unset;
    padding-top: 4px;
    padding-left: 70%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navbar__links_2{
    font-family: 'Quicksand';
    font-size: 26px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    text-decoration: none;
    height: 100%;

  }

.titulo{
    
    width: auto;
    height: 20px;
    color: #FFFFFF;
    font-family: 'Cormorant SC';
    font-size: 37px;
    font-weight: normal;
    padding-left: 43%;
    margin: 0px;
    
}

.barra{
    width: auto;
    height: 18px;
    background-color: #39A9A3;
    padding-top: 2px;
    margin-left: -10px;
    margin-right: 0px;
    margin-top: -10px;
}



.nav{
    background-color: #333333;
    height: 60px;
    width: 100%;
    margin: 0;
}

/*fim da navbar*/








.conteudo1{
    width: auto;
    height: 500px;

}

img{
    width: 500px;
    height: 400px;
    margin-top: 26px;
    margin-right: 80px;
    float: left;
}

.titulo1{
    color: #FFFFFF;
    font-family: 'Cormorant SC';
    font-weight: lighter;
    font-size: 37px;
}

li.texto1{
    color:#FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 9px;
}



