@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

:root{
    --cor-principal-texto:#000000;
    --cor-secundaria-texto:#FFFFFF;
    --cor-fundo:#FFFFFF;
    --cor-fundo2:#39A9A4;
}

body{
    width: auto;
    background-color: #171414;
    margin: 0;
}

/*começo navbar*/
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: -19px;
    padding-top: 30px;
    height: 0;
    width: 0;
    
}




.navbar__links {
    font-family: 'Quicksand';
    font-size: 26px;
    color: #FFFFFF;

   
    padding-left: 100px;
    padding-right: 70px;
    

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-decoration: none;
    height: 100%;
}



  .navbar__menu_2{
    align-items: unset;
    padding-top: 4px;
    padding-left: 70%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navbar__links_2{
    font-family: 'Quicksand';
    font-size: 26px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    text-decoration: none;
    height: 100%;

  }

.titulo{
    width: auto;
    height: 20px;
    color: #39A9A3;
    font-family: 'Cormorant SC';
    font-size: 37px;
    font-weight: normal;
    padding-left: 43%;
    margin: 0px;
    
}

.barra{
    width: auto;
    height: 18px;
    background-color: #DFBC74;
    padding-top: 2px;
    margin-left: -10px;
    margin-right: 0px;
    margin-top: -10px;
}



.nav{
    background-color: #333333;
    height: 60px;
    width: 100%;
    margin: 0;
}

/*fim da navbar*/









/*carrosel*/
.containerproje{
    position: relative;
    padding-top: 10px;
}

.containerproje .slide-container .slide{
    min-height: 64vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #00C2B8;
    font-family: 'Quicksand';
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 26px;
    color: #ffffff;
    font-family: 'Quicksand';
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #DFBC74;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #DFBC74;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #d6bb84;
    border: 2px solid #dfc591;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(img/img-carrosel1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    margin-left: -9px;
    
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(img/img-carrosel2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    margin-left: -9px;
    
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(img/img-carrosel3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    margin-left: -9px;
    
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #DFBC74;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    transition: all 1s;
    background:#dfc38d;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}
/*fim do carrosel*/









.container{
    display: flex;
    padding-top: 0%;
    background-color: #DFBC74;
    height: 336px;
}

.titulo2{

    font-family: 'Cormorant SC' serif;
    font-size: 43px;
    font-style: none;
    font-weight: normal;
    margin: 0;
    padding-top: 1%;
    padding-left: 3%;
    color: var(--cor-secundaria-texto);
}

.cursos{
    font-size: 28px;
    padding-top: %;
}
